# R files
.Rhistory
.Rproj.user
packrat/lib*/

# Matlab files
*.asv
*.m~

# Windows / OSX files
*.DS_store
Thumbs.db
*.smbdelete*
._*
*.dll
*.exe

# Documents
*.xlsx
*.docx
*.pdf

# Binary data
*.edf
*.nii

# Images
*.JPG

# Folders
# (for some folders, don't ignore plain text)
data/*
doc/**
!doc/**/*.csv
!doc/**/*.md
neuronav/**
!neuronav/**/*.csv
!neuronav/**/*.md
fig/*
IRB/*
misc/*
paper/*
