# Matlab files
*.asv
*.m~

# Windows / OSX files
*.DS_store
Thumbs.db
*.smbdelete*
._*
*.dll
*.exe
# Documents
*.xlsx
*.docx
*.pdf
# Binary data
*.edf
*.nii
# Images
*.JPG

# Folders
IRB/*
figures/*

# except the tDCS blinding info file
doc/*
!doc/tDCS_blinding/
doc/tDCS_blinding/codes

.Rproj.user
packrat/lib*/
